canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}
#backgroundCanvas {
	z-index: -2;
}
#mainCanvas {
	z-index: -1;
}
#bikeCanvas {
	z-index: 0;
}
.score {
  position: absolute;
  top: 5px;
  left: 20px;
  color: red;
  font-family: Helvetica;
  cursor: default;
  font-size: 30px;
}
.level {
  position: absolute;
  top: 40px;
  left: 20px;
  color: red;
  font-family: Helvetica;
  cursor: default;
  font-size: 30px;
}
span .level {
  position: absolute;
  top: 40px;
  left: 20px;
  color: red;
  font-family: Helvetica;
  cursor: default;
  font-size: 30px;
}
