doctype html
html
  head
    title Space Shooter Demo
    | &#x9;&#x9;
    style.
      canvas {
      position: absolute;
      top: 0px;
      left: 0px;
      background: transparent;
      }
      #background {
      z-index: -2;
      }
      #main {
      z-index: -1;
      }
      #ship {
      z-index: 0;
      }
      .score {
      position: absolute;
      top: 5px;
      left: 480px;
      color: #FF7F00;
      font-family: Helvetica, sans-serif;
      cursor: default;
      }
      .game-over {
      position: absolute;
      top: 100px;
      left: 210px;
      color: #FF7F00;
      font-family: Helvetica, sans-serif;
      font-size: 30px;
      cursor: default;
      display: none;
      }
      .game-over span {
      font-size: 20px;
      cursor: pointer;
      position: relative;
      left: 50px;
      }
      .game-over span:hover {
      color: #FFD700;
      }
      .loading {
      position: absolute;
      top: 100px;
      left: 210px;
      color: #FF7F00;
      font-family: Helvetica, sans-serif;
      font-size: 30px;
      cursor: default;
      }
  | &#x9;
  body
    // The canvas for the panning background
    canvas#background(width='600', height='360')
      | Your browser does not support canvas. Please try again with a different browser.
    // The canvas for all enemy ships and bullets
    canvas#main(width='600', height='360')
    //
      The canvas the ship uses (can only move up
      one forth the screen.
    canvas#ship(width='600', height='360')
    | &#x9;&#x9;
    .score
      | SCORE: 
      span#score
    | &#x9;&#x9;
    #game-over.game-over
      | GAME OVER
      p
        span(onclick='game.restart()') Restart
    | &#x9;&#x9;
    #loading.loading
      | LOADING...
      p Please wait
    | &#x9;&#x9;
    script(src='space_shooter_part_five.js')
